body {
    color: white;
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p.flavor {
    font-size: 21px;
}

footer {
    text-align: right;
}

.gray {
    color: gray;
}

.external-link {
    color: aquamarine;
    font-size: 16px;
}